.header > div{
    padding-right: 0.5px;
    margin-bottom: 4px;
}

.header> .light.label {
    font-size: 10pt;
}

.header> .label > label,
.header> .label > div{
    padding-right: 5px;
}

.header> .inline{
    display: flex;
}

.meta{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card{
    min-width: 254px;
}